/*
 * Theme Name: Kirby
 * Version: 1.0
 * Description: Kirby is a child theme for the Twenty Eleven theme.
 * Author: Matt Rude
 * Template: twentyeleven
 */

@import url("../twentyeleven/style.css");

#secondary {
	margin-right:2.6%;
}

#content,.singular #content {
	position:static;
	width:72.5%;
	margin:0 25% 0 2.5%;
}

.singular #primary {
	margin:0 -26.4% 10px 0;
}

.singular .entry-header,.singular .entry-content,.singular footer.entry-meta,.singular #comments-title,#respond {
	width:auto;
	margin:0;
}

.singular .entry-meta .edit-link a {
	left:98%;
}

.entry-content h3,.comment-content h3 {
	font-size:17px;
}

.commentlist {
	width:100%;
}

.commentlist > li.depth-1 {
	margin-left:100px;
}

.image-attachment #content {
	width: auto;
	margin: 0 7.6%;
}

.singular .entry-meta .edit-link a {
	left: 90%;
}

.singular.page .hentry {
    padding: 0;
}

pre {
	background:none repeat scroll 0 0 #333333;
	color:#FFFFFF;
	font-family:'Luxi Mono',Monospace,'Courier New',Courier,Fixed;
	line-height:1.5em;
	overflow:auto;
	text-align:left;
	text-decoration:none;
	border-color:#BDBEC5;
	border-style:solid;
	border-width:1px 1px 1px 4px;
	margin:0 0 1.7em 6px;
	padding:5px;
}

.widget-title {
	color: #000;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 2px;
	margin-bottom: 8px;
	padding: 2px 0;
	padding-top: 10px;
	border-bottom: 1px solid #CCC;
	text-transform: none;
}

.widget ul {
	margin-left: 16px;
}

/*EXIF table*/
#exif { overflow: hidden; max-width: 450px; text-align: left; }
#exif-lable { margin: 0 0 0 15px; max-width: 110px; }
#exif-lable p { margin: 0; }
#exif-lable span { font-weight:bold; }
#exif-data { overflow: hidden; margin: 0; float: right; width: 300px; }
#exif-data p { margin: 0 10px; }

/* Image Nav */
.floatleft {
        overflow: hidden;
        float: left;
        }
.floatright {
        float: right;
        text-align: right;
        }
.navigation {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E7E7E7;
        padding: 19px 19px;
        overflow: hidden;
        }
.navigation .floatright, .navigation .floatleft {
        overflow: hidden;
        width: 48%;
        }
.navigation-attachment {
        overflow: hidden;
        margin: 0 0 21px 0;
        }

/* IE gravatar fix */
#author-avatar {
    height: 60px;
    width: 60px;
}

/* Remove the extra space at the bottom of the rss wigets Link */
.widget_rss_links p {
    margin-bottom: 0;
}

#site-generator {
    padding: 2.2em 0.5em 0 2.2em;
}
#computer-labor {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #666666;
    font-size: 12px;
    line-height: 1.2em;
    text-align: center;
    padding: 0 0.5em 2.2em;
}
div#about-buttons img {
    border:none
}
